In [1]:
import pandas as pd

In [2]:
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR'],
    'Salary': [50000, 60000, 55000, 65000, 58000]
}

In [3]:
Employee_data = pd.DataFrame(data)

In [4]:
print(Employee_data[['Name', 'Salary']])

      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   55000
3    David   65000
4      Eva   58000

In [5]:
average_salary_it = Employee_data[Employee_data['Department'] == 'IT']['Salary'].mean()
print(f"Average salary in IT department: {average_salary_it}")

Average salary in IT department: 62500.0

In [6]:
Employee_data['Bonus'] = Employee_data['Salary'] * 0.10
print(Employee_data)

   EmployeeID     Name Department  Salary   Bonus
0         101    Alice         HR   50000  5000.0
1         102      Bob         IT   60000  6000.0
2         103  Charlie    Finance   55000  5500.0
3         104    David         IT   65000  6500.0
4         105      Eva         HR   58000  5800.0

In [8]:
Employee_data.rename(columns={'EmployeeID': 'ID'}, inplace=True)
print(Employee_data)

    ID     Name Department  Salary   Bonus
0  101    Alice         HR   50000  5000.0
1  102      Bob         IT   60000  6000.0
2  103  Charlie    Finance   55000  5500.0
3  104    David         IT   65000  6500.0
4  105      Eva         HR   58000  5800.0

In [9]:
data = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
    'Product_A': [150, 200, 250, 300, 350],
    'Product_B': [300, 250, 200, 150, 100]
}

In [10]:
sales_data = pd.DataFrame(data)

In [11]:
total_sales_product_a = sales_data['Product_A'].sum()
total_sales_product_b = sales_data['Product_B'].sum()

In [12]:
print("Total Sales for Product_A:", total_sales_product_a)
print("Total Sales for Product_B:", total_sales_product_b)

Total Sales for Product_A: 1250
Total Sales for Product_B: 1000

In [13]:
month_max_sales_product_a = sales_data.loc[sales_data['Product_A'].idxmax(), 'Month']
print("Month with the highest sales for Product_A:", month_max_sales_product_a)

Month with the highest sales for Product_A: May

In [14]:
sales_data['Total_Sales'] = sales_data['Product_A'] + sales_data['Product_B']
print(sales_data)

  Month  Product_A  Product_B  Total_Sales
0   Jan        150        300          450
1   Feb        200        250          450
2   Mar        250        200          450
3   Apr        300        150          450
4   May        350        100          450

In [15]:
max_sales_product_a = sales_data['Product_A'].max()
sales_data['Normalized_Product_A'] = sales_data['Product_A'] / max_sales_product_a
print(sales_data)

  Month  Product_A  Product_B  Total_Sales  Normalized_Product_A
0   Jan        150        300          450              0.428571
1   Feb        200        250          450              0.571429
2   Mar        250        200          450              0.714286
3   Apr        300        150          450              0.857143
4   May        350        100          450              1.000000

In [16]:
filtered_sales_data = sales_data[sales_data['Total_Sales'] > 400]
print(filtered_sales_data)

  Month  Product_A  Product_B  Total_Sales  Normalized_Product_A
0   Jan        150        300          450              0.428571
1   Feb        200        250          450              0.571429
2   Mar        250        200          450              0.714286
3   Apr        300        150          450              0.857143
4   May        350        100          450              1.000000